body {
  padding-top: 150px;
  font-family: "Ubuntu", sans-serif;
  color: #505050;
  background: rgba(194, 175, 201, 0.5);
  background-image: url("https://img.freepik.com/free-vector/flat-design-roof-tile-pattern_23-2149257258.jpg?w=740&t=st=1685709326~exp=1685709926~hmac=9d0f3de16914602f22378a51fe02e0b0379fc7c6deb4f424e111952c2fc0149b");
  background-position: cover;
}

form {
  padding-bottom: 9px;
}

h1 {
  text-align: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  border-radius: 40px;
  width: 550px;
  padding: 20px 20px;
  background: rgba(193, 185, 200, 0.85);
  box-shadow: 0px 0px 20px 20px #a0a0a0;
}

.codedBy {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: rgb(255, 255, 255);
}

.linkedIn {
  text-decoration: none;
  color: rgb(234, 201, 255);
}

.linkedIn:hover {
  text-decoration: underline;
}

.gitHub {
  text-decoration: none;
  color: rgb(234, 201, 255);
}

.gitHub:hover {
  text-decoration: underline;
}

.netlify {
  text-decoration: none;
  color: rgb(234, 201, 255);
}

.netlify:hover {
  text-decoration: underline;
}
